#root {
  display: flex;
  margin: 30px auto;
}
#root > div {
  margin: 2px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root > div > input {
  margin: 2px 10px;
  height: 40px;
}
#root > div > button {
  margin: 2px 10px;
  height: 40px;
}
